{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "> 1% in CZ",
          "Explorer >= 10",
          "iOs >= 9",
          "last 3 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-loop-optimizer"
  ]
}