{
  "extends": [
    "eslint-config-standart-partyk",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "rules": {
    "indent": ["warn", 4],
    "vue/script-indent": ["warn", 4, {
      "baseIndent": 0
    }],
    "vue/html-indent": ["warn", 4, {
      "attribute": 2
    }]
  }
}