/*
 -  Theme icons
 -
 -  This file contains all used custom icons.
 */


@each $icon in $font-icons {
    .icon-#{$icon}::before {
        icon-font: url('../../icons/#{$icon}.svg');
    }
}

@each $icon in $icons {
    .icon-svg-#{$icon} {
        background-image: url('../../images/icons/#{$icon}.svg');
        background-repeat: no-repeat;
    }
}